.product-image {
    width: 10rem;
    height: 7rem;

}
.purchase{
    cursor: pointer;
}
.main-1 #image1:hover ~ .main-product-image {
    background-image: url(../storage/producto-1/product-1-1/Left-side.jpg);

}
.main-1 #image2:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product-1-1/right-side.jpg);

}
.main-1 #image3:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product-1-1/diagonal-side.jpg);

}
.main-1 #image4:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product-1-1/main-side.jpg);

}
.main-1 .main-product-image{
    background-image: url(../storage/producto-1/product-1-1/main.jpg);
}


.main-2 #image1:hover ~ .main-product-image {
    background-image: url(../storage/producto-1/product1-2/left-side.jpg);

}
.main-2 #image2:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product1-2/right-side.jpg);
}
.main-2 #image3:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product1-2/bottom-side.jpg);

}
.main-2 #image4:hover ~ .main-product-image{
    background-image: url(../storage/producto-1/product1-2/diagonal-side.jpg);

}
.main-2 .main-product-image{
    background-image: url(../storage/producto-1/product1-2/diagonal-side.jpg);

}
.product-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-product-image{
    width: 100%; 
    height: 100%; 
    margin-left: 1rem;
    grid-area: 1/2/5/3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}